#--------------------------------------------------------------------
# Salin isi ini ke file .env pada root project CodeIgniter 4
# (hasil copy dari file bawaan "env" -> ".env").
# JANGAN commit file .env ke version control.
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

app.baseURL = 'http://smp1dawe-osis-2026.test/'

database.default.hostname = localhost
database.default.database = smp1dawe_osis_2026
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.cookieName = 'osis_session'
session.expiration = 7200
session.matchIP = false
